// bower:scss
// endbower

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.form-group {
  position: relative;
  height: 30px;
  width: 100%;
  background: white;
  padding-left: 10px;
  border-bottom: 1px solid #dadada;
  box-sizing: border-box;
  .control {
    overflow: hidden;
    height: 100%;
  }
  label {
    width: 100px;
    float: left;  
  }
  input {
    font-size: 18px;
    height: 100%;
    width: 100%;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    padding: 0px 10px;
  }
}

form {
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity .25s, transform .25s;

  &.show {
    opacity: 1;
    transform: translateX(0)
  }
  input[type="submit"] {
    border: 0;
    background: #fafafa;
    padding: 10px 15px;
    float: right;
    margin-top: 10px;
    transition: background .25s;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    &:hover {
      background: #9fceff;
    }

    &.disabled {
      pointer-events: none;
      opacity: .7;
    }
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
